
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  border: 1px solid;
} */
body{
  margin: 0;
  padding: 0;
  font-family:"poppins", sans-serif;
  padding-top: 60px;
  scroll-behavior: smooth;
;
}

.background{
  background:rgba(0, 0, 0, 0.46);

}


.embla {
  overflow: hidden;
    filter: brightness(50%);
    background:rgba(40, 40, 40, 0.407);
}
.embla2 {
  overflow: hidden;

}
.embla__container {
  display: flex;
  
}
.embla__slide {
  flex: 0 0 100%;



}
